[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-purple.json)](https://github.com/copier-org/copier)

# {{ project_name }}

{{ project_description }}

## Installation

```sh
pip install {{ project_name }}
```
